*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --content-width: 1380px;
    --card-gap: 1rem;
}

/* Header style */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ff6900;
    height: 70px;
    z-index: 10;
}

header nav{
    height: 100%;
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.clients-container{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.client-style{
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.logo-container{
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 150px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.nav-icons{
    display: flex;
    gap: .6rem;
    align-items: center;
}

.nav-icons i{
    width: 100%;
    font-size: 15px;
    color: white;
}

/* Main Style */

.container{
    max-width: var(--content-width);
    width: 100%;
    margin: 140px auto 0px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--card-gap);
}

.shopping-card{
    flex-basis: calc(33.3% - var(--card-gap));
    padding: 0rem 0rem 3rem;
}

.shopping-card .model{
    height: 650px;
    width: 100%;
    position: relative;
}

.shopping-card .model img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;    
}

.main-outfit{
    z-index: 2;
}

.secondary-outfit{
    z-index: 1;
}

.main-outfit:hover{
    display: none;  
}

.secondary-outfit:hover{
    z-index: 3;
}

/* overlay style */

.top-overlay{
    position: absolute;
    top: 10px;
    text-align: right;
    right: 0;
    z-index: 3;
}

.top-overlay i{
    padding: 13px;
    font-size: 25px;
    background-color: white;
}

.top-overlay i:hover{
    color: red;
}

.bottom-overlay{
    position: absolute;
    bottom: 43px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    z-index: 3;
}

.sticker-text{
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    color: white;
}

.sale{   
    background-color: red;
}

.sostenibility{
    background-color: #008000;
}

.info .brand{
    font-size: 14px;
}

.info .name{
    text-transform: uppercase;
    font-weight: bold;
}

.price{
    display: inline-block;
    font-size: 15px;
}

.price.new{
    color: red;
    font-weight: bold;
}

.price.old{
    text-decoration: line-through;
}

/* Footer style */
footer{
    background-color: #1a1a1a;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

.foot-container{
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h3{
    color: white;
    font-size: 16px;
    margin-bottom: 8px;    
}

.legal-info span{
    margin-right: 3px;
    color: white;
    font-size: 15px;
}

.social-icons{
    display: flex;
    gap: 14px;
}

.social-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3px;
}

h2{
    color: white;
    font-size: 15px; 
}

.social-icons i{
    font-size: 20px;
    color: white;
}